# Credenciais do Banco de Dados (PostgreSQL)
POSTGRES_USER=cultivares_user
POSTGRES_PASSWORD=cultivares_password
POSTGRES_DB=cultivares_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Configurações de API
API_LIMIT_PER_MINUTE=30
